<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Capitals Quiz">
    <title>Capitals Quiz</title>
    <link rel="stylesheet" type= text/css href="main.css">
</head>
<body>
    <header class="center">
        <h1>Capitals Quiz</h1>
        <p>Question: 1 / 5</p>
        <p>Score: 0 / 5</p>
        <div class="question-and-score">
        </div>
    </header>

    <main>
        <fieldset class="center">
            <div class="elements-in-box-adjust">
                <div>
                    <legend>What is the capital of Canada?</legend>
                        <div class="options">
                            <input type="radio" name="option" id="canada-0" value="0" checked>
                                <label for="canada-0">Vancouver</label>
                            <br>
                            <input type="radio" name="option" id="canada-1" value="1">
                                <label for="canada-1">Edmonton</label>
                            <br>
                            <input type="radio" name="option" id="canada-2" value="2">
                                <label for="canada-2">Ottawa</label>
                            <br>
                            <input type="radio" name="option" id="canada-3" value="3">
                                <label for="canada-3">Toronto</label>
                        </div>
                </div>

                <div>
                    <button type="submit">Submit</button>
                </div>
            </div>
        </fieldset>
    </main>
</body>
</html>